{% ckan_extends %}
{% block secondary_content %}
 <div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Organizações são usadas para criar, gerir e publicar coleções
        de conjuntos de dados. Os utilizadores podem ter diferentes papéis dentro de uma Organização
        dependendo do seu nível de autorização para criar, editar e publicar.
      {% endtrans %}
    </p>
  </div>
</div>
{% endblock %}
