{% ckan_extends %}

{% block featured_group %}
  <div class="box">
    <header class="module-heading">
      <h3>Atividade Recente</h3>
    </header>
    <div class="module-content">
      {{ h.recently_changed_packages_activity_stream(limit=3) }}
    </div>
  </div>
{% endblock %}

{% block featured_organization %}
  <div class="box">
    <header class="module-heading">
      <h3>Fundão Dados Abertos estatísticas</h3>
    </header>
    <div class="module-content">
      {% snippet 'home/snippets/stats.html' %}
    </div>
  </div>
{% endblock %}
